<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>Generally-applicable sniffs for WordPress plugins</description>

	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Docs" />

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/lib/*</exclude-pattern>

	<!-- Check all PHP files in 'src' directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>./src</file>

	<!-- Disable warnings -->
	<arg name="show_warnings" value="0"/>

	<!-- Show sniff codes in all reports -->
	<arg value="s"/>
</ruleset>
