$prefix: 'gil';

.#{$prefix} { }

.#{$prefix}-wrapper, 
.#{$prefix}-wrapper * { box-sizing: border-box; }

.#{$prefix}-wrapper {
    display: block;
    width: 500px;
    max-width: 100%;
}

.#{$prefix}-block {
    display: inline-block;
    width: 100%;
    background-color: #FFF;
    padding: 1.5em;
    margin: 0.5em 0;
    box-shadow: 0px 0px 4px #D5D5D5;
}

    .#{$prefix}-block h1 { margin: 0.5em; }

    .#{$prefix}-block h2 {
        font-weight: 600;
        margin-top: 0;
        border-bottom: 1px dotted #E1E1E1;
        padding-bottom: 0.25em;
    }

    .#{$prefix}-block a {
        display: inline-block;
        text-decoration: none;
    }

        .#{$prefix}-block a .dashicons { 
            vertical-align: middle;
            font-size: 150%;
            width: auto;
            height: auto;
        }

    .#{$prefix}-block table {
        width: 100%;
    }

        .#{$prefix}-block table tr td:first-of-type {
            padding-right: 1.5em;
        }

    .#{$prefix}-block .update {
        font-size: 8pt;
        margin-left: 0.4em;
    }

.#{$prefix}-center { text-align: center; }

.#{$prefix}-by {
    text-align: center;
    font-size: 9pt;
    margin-top: 0em;
}

.#{$prefix}-button {
    display: inline-block;
    background-color: #0073AA;
    color: #FBFBFB;
    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15pt;
    margin-top: 1em;
    border: 2px solid #0073AA;
    transition: color 0.25s ease-out, background-color 0.25s ease-out;
}

    .#{$prefix}-button:hover {
        background-color: transparent;
        color: #0073AA;
    }

.#{$prefix}-function {
    display: inline-table;
    width: 100%;
    border: 2px solid #EAEAEA;
    margin-bottom: 1em;
    border-collapse: collapse;
}

    .#{$prefix}-function td { padding: 0.25em 0.5em; }

    .#{$prefix}-function .name { font-weight: 400; }

    .#{$prefix}-function .return {
        font-size: 9pt;
        background-color: #EAEAEA;
        text-transform: uppercase;
        width: 80px;
        text-align: center;
    }

    .#{$prefix}-function .name,
    .#{$prefix}-function .return { font-family: "Lucida Console", Monaco, monospace; }

.#{$prefix}-update-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 241, 241, 0.9);
    z-index: 99999;
}

    .#{$prefix}-update-wrapper .#{$prefix}-update-content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

        .#{$prefix}-update-wrapper .animation { transition: transform 0.2s ease-out; }

        .#{$prefix}-update-wrapper .process {
            display: inline-block;
            margin-top: 2em;
            height: 128px;
            line-height: 1;
        }

            .#{$prefix}-update-wrapper .#{$prefix}-update-content .downloading,
            .#{$prefix}-update-wrapper .#{$prefix}-update-content .decompressing,
            .#{$prefix}-update-wrapper .#{$prefix}-update-content .done {
                display: none;
                font-size: 24pt;
                transform: translate3d(0, 50px, 0);
                transition: transform 0.4s ease-out;
            }

/* Ellipsis animation */
.ellipsis-anim span {
    opacity: 0;
    margin: 0 2px;
    -webkit-animation: ellipsis-dot 1s infinite;
    animation: ellipsis-dot 1s infinite;
}

    .ellipsis-anim span:nth-child(1) {
        -webkit-animation-delay: 0.0s;
        animation-delay: 0.0s;
    }
    .ellipsis-anim span:nth-child(2) {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    .ellipsis-anim span:nth-child(3) {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-webkit-keyframes ellipsis-dot {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes ellipsis-dot {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
}