$prefix: 'geo-ip';

.#{$prefix} { }

.#{$prefix}-wrapper, 
.#{$prefix}-wrapper *,
.#{$prefix}-update-wrapper, 
.#{$prefix}-update-wrapper *,
.#{$prefix}-about-wrapper, 
.#{$prefix}-about-wrapper * { box-sizing: border-box; }

.#{$prefix}-wrapper {
    display: block;
    width: 640px;
    max-width: 100%;
    margin-top: 0.5em;
}

.#{$prefix}-block {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: #FFF;
    padding: 1.5em;
    margin: 0.5em 0;
    box-shadow: 0px 0px 4px #D5D5D5;
}

    .#{$prefix}-block h1 { margin: 0.5em; }

    .#{$prefix}-block h2 {
        font-weight: 600;
        margin-top: 0;
        border-bottom: 1px dotted #E1E1E1;
        padding-bottom: 0.25em;
    }

    .#{$prefix}-block a {
        display: inline-block;
        text-decoration: none;
    }

        .#{$prefix}-block a .dashicons { 
            vertical-align: middle;
            font-size: 150%;
            width: auto;
            height: auto;
        }

    .#{$prefix}-block table {
        width: 100%;
    }

        .#{$prefix}-block table tr td:first-of-type {
            padding-right: 1.5em;
        }

    .#{$prefix}-block .update,
    .#{$prefix}-block .remain {
        font-size: 8pt;
        margin-left: 1em;
    }

    .#{$prefix}-block .remain { color: #999; }

.#{$prefix}-center { text-align: center; }

.#{$prefix}-by {
    text-align: center;
    font-size: 9pt;
    margin-top: 0em;
}

.#{$prefix}-about {
    position: absolute;
    top: 20px;
    right: 17px;
    font-size: 90%;
}

    .#{$prefix}-about:hover { cursor: help; }

.#{$prefix}-button {
    display: inline-block;
    background-color: #0073AA;
    color: #FBFBFB;
    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15pt;
    margin-top: 1em;
    border: 2px solid #0073AA;
    transition: color 0.25s ease-out, background-color 0.25s ease-out;
}

    .#{$prefix}-button:hover {
        background-color: transparent;
        color: #0073AA;
    }

.#{$prefix}-function {
    display: inline-table;
    width: 100%;
    border: 2px solid #EAEAEA;
    margin-bottom: 1em;
    border-collapse: collapse;
}

    .#{$prefix}-function td { padding: 0.25em 0.5em; }

    .#{$prefix}-function .name { font-weight: 400; }

    .#{$prefix}-function .return {
        font-size: 9pt;
        background-color: #EAEAEA;
        text-transform: uppercase;
        width: 90px;
        text-align: center;
    }

    .#{$prefix}-function .name,
    .#{$prefix}-function .return { font-family: "Lucida Console", Monaco, monospace; }

.#{$prefix}-update-wrapper,
.#{$prefix}-about-wrapper  {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 241, 241, 0.9);
    z-index: 99999;
}

    .#{$prefix}-update-wrapper .#{$prefix}-update-content,
    .#{$prefix}-about-wrapper .#{$prefix}-about-content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

        .#{$prefix}-update-wrapper .animation { transition: transform 0.2s ease-out; }

        .#{$prefix}-update-wrapper .process {
            display: inline-block;
            max-width: 510px;
            width: 100%;
            margin-top: 2em;
            height: 128px;
            line-height: 1;
        }

            .#{$prefix}-update-wrapper .#{$prefix}-update-content .downloading,
            .#{$prefix}-update-wrapper .#{$prefix}-update-content .decompressing,
            .#{$prefix}-update-wrapper .#{$prefix}-update-content .done,
            .#{$prefix}-update-wrapper .#{$prefix}-update-content .failure {
                display: none;
                font-size: 24pt;
                transform: translate3d(0, 40px, 0);
                transition: transform 0.4s ease-out;
            }

        .#{$prefix}-about-wrapper .container {
            display: inline-block;
            width: 510px;
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0px 0px 4px 0px #D6D6D6;
            padding: 1.5em;
        }

            .#{$prefix}-about-wrapper .container p { text-align: justify; }

            .#{$prefix}-about-wrapper .container h2 {
                font-size: 180%;
                margin-top: 0;
            }

            .#{$prefix}-about-wrapper .container .dashicons { 
                vertical-align: middle;
                font-size: 100%;
                width: auto;
                height: auto;
            }

            .#{$prefix}-about-wrapper .container .more-info {
                width: 100%;
                text-align: left;
            }

/* Ellipsis animation */
.ellipsis-anim span {
    opacity: 0;
    margin: 0 2px;
    -webkit-animation: ellipsis-dot 1s infinite;
    animation: ellipsis-dot 1s infinite;
}

    .ellipsis-anim span:nth-child(1) {
        -webkit-animation-delay: 0.0s;
        animation-delay: 0.0s;
    }
    .ellipsis-anim span:nth-child(2) {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    .ellipsis-anim span:nth-child(3) {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-webkit-keyframes ellipsis-dot {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes ellipsis-dot {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
}